@import './vars';

body {
  margin: 0;
  font-family: $fonts;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $ucla-blue;
}

code {
  font-family: $code-fonts;
}
