body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #555555;
    background-image: url("../images/knitting250px_@2X.png");
}

/* header and navbar */

header {
    background-color: #8aaae5;
    margin-bottom: 0.5em;
    border-bottom: 2px solid #ffffff;
}

nav {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

#headshot {
    float: left;
    width: 40%;
    margin-right: 1em;
}

#name-tag {
    float: left;
    padding: 0.4em;
    font-size: 2em;
    font-weight: 700;
    line-height: 2em;
    font-family: Georgia, Times, "Times New Roman", serif;
    color: #ffffff;
    background-color: #8aaae5;
    text-align: center;
    text-decoration: none;
}

/* footer */

footer {
    color: #ffffff;
    background: #8aaae5;
    border-top: 8px solid #ffffff; 
}

h1 {
    font-size: 2em;
    font-weight: bold;
    line-height: 1.5em;
    color: #8aaae5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    width: 100%;
    border-bottom: 1px solid #cccccc;
}

section {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 2em;
    margin-bottom: 2em;
}

article {
    line-height: 2;
}

/* portfolio classes */

.portfolio {
    position: relative;
    display: inline-block;
    margin-bottom: 2em;
    width: 280px;
}

.portfolio-pic {
    width: 100%;
    z-index: 1;
}

.portfolio-name {
    width: 100%;
    position: absolute;
    padding: 0;
    margin-bottom: 0;
    bottom: 5%;
    font-size: 1.5em;
    line-height: 1.75;
    font-weight: normal;
    text-align: center;
    color: #ffffff;
    background-color: #8aaae5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    z-index: 2;
}

/* forms */

form {
    line-height: 1.5;
}

input[type=text], input[type=email] {
    width: 100%;
}

input[type=submit] {
    height: 2em;
    width: 6em;
    margin-top: 1em;
    font-size: 1.5em;
    color: #ffffff;
    background-color: #8aaae5;
    text-shadow: none;
    border: 1px solid #cccccc;
    box-shadow: none;
}

input[type=submit]:hover {
    background-color: #777777;
}

textarea {
    width: 100%;
}
/* links and link classes */

a, a:visited {
    color: #777777;
}

a:hover {
    color: #555555;
}

@media screen and (max-width: 832px) {
    #name-tag {
        padding: 0.7em;
        width: 100%;
        height: 100%
    }

    nav {
        padding: 0;
        text-align: center;
    }

    .list-item {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .list-item {
        width: auto;
    }
}
