body{
    margin: 0;
    padding: 0;
    background-image: url("../images/extra_clean_paper.png");
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

header {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 80px;
    border-bottom: 4px solid #cccccc;
}

.header-bar {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

h1,h2 {
    font-size: 26px;
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    margin-left: auto;
    font-weight: bold;
}

nav {
    height: 100%;
    float: right;
    margin: 0, 20px, 10px, 10px;
    padding: 20px;
}

#my-name {
    float: left;
    background-color: #4aaaa5;
    padding: 25px;
    color: #ffffff;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

footer {
    height: 48px;
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    text-align: center;
}

section {
    background-color: #ffffff;
    width: 900px;
    min-height: calc(100vh - 70px);
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 2px solid #cccccc;
}

#profile-pic {
    float: left;
    margin: 10px;
    width: 25%;
}

.spaced {
    line-height: 1.5;
}

/* Portfolio Classes */

.portfolio {
    position: relative;
    display: inline-block;
    width: 300px;
    margin: 10px;
}

.portfolio-pic {
    width: 100%;
    z-index: 1;
}

.portfolio-name {
    width: 100%;
    line-height: 2;
    position: absolute;
    left: 0;
    top: 60%;
    font-weight: normal;
    text-align: center;
    color: #ffffff;
    background-color: #4aaaa5;
    z-index: 2;
}

/* forms */

input[type=text], input[type=email] {
    width: 100%;
    /* margin: 8px; */
}

input[type=submit] {
    height: 50px;
    width: 120px;
    margin: 5px;
    font-size: 20px;
    color: #ffffff;
    background-color: #4aaaa5;
    text-shadow: none;
    border: 2px solid #cccccc;
    box-shadow: none;
}

input[type=submit]:hover {
    background-color: #777777;
}

textarea {
    width: 100%;
    /* margin: 8px; */
}

/* links and link classes */

a, a:visited {
    color: #777777;
}

a:hover {
    color: #4aaaa5;
}