$saffron: #eac435;
$dark-puce: #433a3f;
$deep-space-sparkle: #3d5a6c;
$persian-green: #00a6a6;
$trolley-grey: #808080;
$platinum: #e7e7e7;

$theme-colors: (
  "primary": $deep-space-sparkle,
  "secondary": $trolley-grey,
  "info": $saffron,
  "success": $persian-green,
  "light": $platinum,
  "dark": $dark-puce,
);

$sizes: (
  30: 30%,
);

@import '~bootstrap/scss/bootstrap.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $deep-space-sparkle;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

